{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>Enter Your Credentials</h1>
    <ul>
      <li>Password must contain a lowercase letter</li>
      <li>Password must contain an uppercase letter</li>
      <li>Password must end in a number</li>
      <li>Password must be at least 8 characters long</li>
    </ul>
    <form action="{{ url_for('login') }}" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{{ url_for('signup') }}" class="btn btn-link">Sign Up</a>
  </div>
</div>
{% endblock %}
